<ion-header>
  <ion-navbar  color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{item ? item.date : ""}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    <ion-card class="card" *ngIf="item">
        <ion-card-header text-center>
            Placar
        </ion-card-header>
        <ion-card-content>
            <ion-grid>
                <ion-row align-items-center justify-content-center>
                  <ion-col >
                      <img src="{{item.team1Logo}}">
                  </ion-col>
                  <ion-col text-center class="card-main">
                      {{item.team1Score}} x {{item.team2Score}}
                  </ion-col>
                  <ion-col>
                      <img src="{{item.team2Logo}}">
                  </ion-col>
                </ion-row>
                <ion-row align-items-center justify-content-center>
                    <ion-col text-center>
                        {{item.team1}}
                    </ion-col>
                    <ion-col></ion-col>
                    <ion-col text-center>
                        {{item.team2}}
                    </ion-col>
                </ion-row>
              </ion-grid>
        </ion-card-content>
    </ion-card>
    <ion-card class="card" *ngIf="item">
        <ion-card-header text-center>
            Artilheiros
        </ion-card-header>
        <ion-card-content>
                <ion-list>
                    <ion-list-header border-bottom>
                            <ion-row align-items-start justify-content-start>
                                    <ion-col text-start>
                                        Time
                                    </ion-col>
                                    <ion-col text-start>
                                        Jogador
                                    </ion-col>
                                    <ion-col text-end>
                                        Gols
                                    </ion-col>
                                </ion-row>
                    </ion-list-header>
                    <ion-item *ngFor="let scorer of item.scorers">
                            <ion-row align-items-center justify-content-center>
                                <ion-col text-start class="item-row">
                                  <img class="list-image" *ngIf="scorer.teamLogo" src="{{scorer.teamLogo}}">
                                  <p *ngIf="!scorer.teamLogo">{{scorer.team}}</p>
                                </ion-col>
                                <ion-col text-start class="item-row">
                                    <p>{{scorer.name}}</p>
                                    <!-- <p>{{scorer.player.league}}</p>
                                    <p>{{scorer.player.number}}</p> -->
                                </ion-col>
                                <ion-col text-end class="item-row">
                                    {{scorer.score}}
                                </ion-col>
                            </ion-row>
                    </ion-item>
                </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="card" *ngIf="item">
        <ion-card-header text-center>
            Cartões
        </ion-card-header>
        <ion-card-content>
                <ion-list>
                        <ion-list-header border-bottom>
                                <ion-row align-items-start justify-content-start>
                                        <ion-col text-start>
                                            Time
                                        </ion-col>
                                        <ion-col text-start>
                                            Jogador
                                        </ion-col>
                                        <ion-col text-end>
                                            Cartão
                                        </ion-col>
                                        <!-- <ion-col text-end>
                                            Tempo
                                        </ion-col> -->
                                    </ion-row>
                        </ion-list-header>
                        <ion-item *ngFor="let carded of item.cards">
                                <ion-row align-items-center justify-content-center>
                                    <ion-col text-start class="item-row">
                                      <img class="list-image" *ngIf="carded.teamLogo" src="{{carded.teamLogo}}">
                                      <p *ngIf="!carded.teamLogo">{{carded.team}}</p>
                                    </ion-col>
                                    <ion-col text-start class="item-row">
                                        <p>{{carded.player}}</p>
                                        <!-- <p>{{carded.league}}</p>
                                        <p>{{carded.number}}</p> -->
                                    </ion-col>
                                    <ion-col text-end class="item-row">
                                      <span class="{{ carded.card == 'A' ? 'yellow-card' : 'red-card' }}"></span>
                                    </ion-col>
                                    <!-- <ion-col text-end class="item-row">
                                        <p>{{carded.time}}</p>
                                    </ion-col> -->
                                </ion-row>
                        </ion-item>
                    </ion-list>
        </ion-card-content>
    </ion-card>
    <ion-card class="card" *ngIf="item">
        <ion-card-header text-center>
            Supensões
        </ion-card-header>
        <ion-card-content>
                <ion-list>
                        <ion-list-header border-bottom>
                                <ion-row align-items-start justify-content-start>
                                        <ion-col text-start>
                                            Time
                                        </ion-col>
                                        <ion-col text-start>
                                            Jogador
                                        </ion-col>
                                        <ion-col text-center>
                                            Critério
                                        </ion-col>
                                        <!-- <ion-col text-center>
                                            Jogos
                                        </ion-col> -->
                                        <ion-col text-end>
                                            Motivo
                                        </ion-col>
                                    </ion-row>
                        </ion-list-header>
                        <ion-item *ngFor="let suspended of item.suspensions">
                                <ion-row align-items-center justify-content-center>
                                    <ion-col text-start class="item-row"> 
                                        <img class="list-image" *ngIf="suspended.teamLogo" src="{{suspended.teamLogo}}">
                                        <p *ngIf="!suspended.teamLogo">{{suspended.team}}</p>
                                    </ion-col>
                                    <ion-col text-start class="item-row">
                                        <p>{{suspended.player}}</p>
                                        <!-- <p>{{suspended.player.league}}</p>
                                        <p>{{suspended.player.number}}</p> -->
                                    </ion-col>
                                    <ion-col text-center class="item-row">
                                        <p>{{suspended.critery}}</p>
                                    </ion-col>
                                    <!-- <ion-col text-end class="item-row">
                                        <p>{{suspended.games}}/{{gameNumbers}}</p>
                                    </ion-col> -->
                                    <ion-col text-end class="item-row">
                                        <span class="{{ suspended.reason == 'A' ? 'yellow-card' : 'red-card' }}"></span>
                                    </ion-col>
                                </ion-row>
                        </ion-item>
                    </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
