// App Global Sass

//ALETERANDO COMPONENTES 
.content{
    background: color($colors, secondary, base);
}
.card{
    background: color($colors, secondary, base);
}
.item{
    background: color($colors, secondary, base);
}
.card-header{
    text-transform: uppercase;
    position: relative;
    font-size: 13px;
    font-weight: 500;
    color: color($colors, lightDark, base);
    padding: 10px 0 5px 0;
    margin-bottom:10px;
}
.card-title{
    text-transform: capitalize;
    position: relative;
    font-size: 18px;
    font-weight: 500;
    color: color($colors, lightDark, base);
    margin-bottom:-10px;
    padding: 10px;
}
.slides{
    padding: 10px;
}
.list{
    padding: 10px;
}
.option{
    color: color($colors, secondary, base);
    width: 100%;
    font-size: 20px;
}

//CLASSES NOSSAS
.card-actions{
    color: color($colors, primary, base);
    border-top: rgba(138, 135, 135, 0.247) solid 1px;
    padding: 0;
    bottom: -20%;
    text-transform: uppercase;
}
.slide-title{
    text-transform: uppercase;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    color: color($colors, dark, base);
    padding: 10px 0 0 0;
}
.card-main{
    font-weight: 300;
    font-size: 1.5em;
}
.bellow-toolback-content{
    margin-top: 30%; 
}




