// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header{
    background: color($colors, primary, base);
}
.background{
    background: color($colors, secondary, base);
}
.card-actions{
    color: color($colors, primary, base);
    bottom: -15px;
    border-top: rgba(138, 135, 135, 0.247) solid 1px;
    padding: 0;
}
.card-title{
    text-transform: uppercase;
    position: relative;
    font-size: 14px;
    font-weight: 400;
    color: color($colors, lightDark, base);
    padding: 10px 0 5px 0;
    margin-bottom:10px;
}
.card-main{
    font-weight: 300;
    font-size: 30px;
}

